// Fonts

.fa {
	font-family: FontAwesome !important;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaFont/Helvetica.eot');
	src: url('../fonts/HelveticaFont/Helvetica.woff2') format('woff2'),
	url('../fonts/HelveticaFont/Helvetica.woff') format('woff'),
	url('../fonts/HelveticaFont/Helvetica.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaFont/Helvetica-Bold.eot');
	src: url('../fonts/HelveticaFont/Helvetica-Bold.woff2') format('woff2'),
	url('../fonts/HelveticaFont/Helvetica-Bold.woff') format('woff'),
	url('../fonts/HelveticaFont/Helvetica-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Verdana';
	src: url('../fonts/VerdanaFont/Verdana.eot');
	src: url('../fonts/VerdanaFont/Verdana.woff2') format('woff2'),
	url('../fonts/VerdanaFont/Verdana.woff') format('woff'),
	url('../fonts/VerdanaFont/Verdana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url('../fonts/trebuchet-ms/trebuc.eot');
	src: url('../fonts/trebuchet-ms/trebuc.woff') format('woff'),
	url('../fonts/trebuchet-ms/trebuc.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
