.footer-area {
	display: block;
	position: relative;
	padding: 30px 0 5px;
	background: #83b526;

	.footer-top-section {
		@include display-flex;
		@include align-items-center;
		@include justify-content-center;
		.footer-menu {
			ul {
				li {
					padding-right: 10px;
					margin-right: 10px;
					border-right: 1px solid $white;
					a {
						font-size: 14px;
						line-height: 1;
						font-family: $primary_font;
						font-weight: 400;
						color: $white;
						padding: 0 !important;
						&:hover,
						&:focus {
							color: $primary;
						}
					}
					&:last-child {
						border-right: none;
					}
				}
			}
		}
	}
}


.site-info-area {
	display: block;
	position: relative;
	background: #83b526;
	.site-info {
		display: block;
		position: relative;
		padding-bottom: 40px;
		.site-info-text {
			color: $white;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 0;
			font-family: $primary_font;
			font-weight: 400;
			text-align: center;

			a {
				color: $white;
				font-size: 14px;
				line-height: 20px;
				font-family: $primary_font;
				font-weight: 400;
				&:hover, &:focus {
					color: $secondary;
				}
			}
			.sep {
				margin: 0 2px;
			}
		}
	}
}


