html body {
	line-height: 1.5; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-family: $body_font;
	color: $body-color;
	background: $body-bg;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	@include heading-text;
	margin-top: 0;
	margin-bottom: 20px;
}
h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

a {
	@include anchor-text;
	transition: 0.3s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}
button {
	@include button-text;
	outline: none !important;
}
div {
	outline: none;
}
p {
	@include paragraph-text;
	line-height: 30px;
	letter-spacing: -0.09px;
	margin-bottom: 25px;
	@include mq(false, sm) {
		margin-bottom: 20px;
	}
}
hr {
	border-top: 1px solid $gray;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: none;
}
// Some basic padding for all wrappers
.site {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
	padding: 0 !important;
}
.site-main {
	display: block;
	position: relative;
	width: 100%;
}
// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
	font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom: 1px solid $gray-300;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero {
	background-color: $gray-200;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
}

.screen-reader-text {
	@extend .sr-only;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	@extend .mx-auto;
}

// Post design
.entry-footer span {
	padding-right: 10px;
}

// Limit featured image size to 100%
img.wp-post-image,
article img,
figure,
img,
#secondary img {
	max-width: 100%;
	height: auto;
}

// Skip to content link
a.skip-link {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
}

// Reset Jumbotron default margin
.jumbotron {
	margin-bottom: 0;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.bg-black {
	background: $black;
}

@media (min-width: 1400px) {
	.container {
		max-width: 1390px;
	}
}
@media (max-width: 1390px) {
	.container {
		max-width: 100%;
	}
}


@include mq(false, xs) {
	.pt-xl-4 {
		padding-top: 25px;
	}
}
.bg-white {
	background: $white;
}

.wrapper {
	display: block;
	position: relative;
	padding: 40px 0;
	@include mq(false, xs) {
		padding-top: 25px;
	}
}
.page-header {
	position: relative;
	margin-bottom: 20px;
	.page-title {
		display: block;
		font-size: 34px;
		line-height: 40px;
		letter-spacing: -0.65px;
		font-weight: 400;
	}
	&.search-page-header {
		.page-title {
			font-size: 28px;
			line-height: 36px;
			letter-spacing: 0.92px;
		}
	}
}

.archive {
	.page-header {
		margin-bottom: 30px;
		@include mq(false, xs) {
			margin-bottom: 20px;
		}
	}
	.page-title {
		font-size: 38px;
		line-height: 48px;
		letter-spacing: 3.04px;
		font-family: $primary_font;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		@include mq(false, md) {
			font-size: 32px;
			line-height: 40px;
			letter-spacing: 2px;
		}
	}
}
.section-header {
	display: block;
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 25px;
	.section-title {
		display: block;
		position: relative;
		color: $black;
		text-align: center;
		font-size: 28px;
		line-height: 35px;
		letter-spacing: 2.8px;
		font-family: $primary_font;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 0;
		@include mq(false, xxs) {
			font-size: 24px;
			line-height: 32px;

		}
		a {
			color: $black;
			font-family: $primary_font;
		}
		&.left {
			text-align: left;
		}
	}
}
.sp-bg {
	background: $white-smoke;
}

@include mq(false, xs) {
	.order-xs-1 {
		order: 1;
	}
	.order-xs-2 {
		order: 2;
	}
	.order-xs-3 {
		order: 3;
	}
	.order-xs-4 {
		order: 4;
	}
	.plr-mobile-30 {
		padding-left: 30px;
		padding-right: 30px;
	}
}


.es-bl {
	border-left: 1px solid $bd-color;
}
.es-bb {
	border-bottom: 1px solid $bd-color;
}
.pyd_clear {
	clear: both;
}

