.es-btn {
	color: $black;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	font-family: $primary_font;
	font-weight: 500;
	padding: 10px 16px;
	background: $secondary;
	text-transform: uppercase;
	@include bordered($secondary, 1px);
	&:hover,
	&:focus {
		background: $secondary;
		color: $black;
	}
}
.back-to-btn {
	color: $black;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	font-family: $primary_font;
	background: $secondary;
	font-weight: 700;
	text-transform: uppercase;
	padding: 12px 18px;
	transition: top 0.99s;
	&:hover,
	&:focus {
		background: $primary;
		color: $white;
	}
}

.arrow {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	&.right {
		@include transform(rotate(-45deg));
	}
	&.left {
		@include transform(rotate(135deg));
	}
	&.up {
		@include transform(rotate(-135deg));
	}
	&.down {
		@include transform(rotate(45deg));
	}
}


.navbar-toggler {
	background: 0 0;
	border: none;
	width: 20px;
	height: 20px;
	position: relative;
	-webkit-appearance: button;
	padding: 0;
	cursor: pointer;
	margin-right: 20px;
	outline: none !important;

	.navbar-toggler-icon {
		position: relative;
		width: 20px;
		height: 1px;
		background: $white;
		display: block;
		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			width: 20px;
			margin: auto;
			background: $white;
		}
		&::before {
			top: -6px;
		}
		&::after {
			bottom: -6px;
		}
	}
}
